:root{
    --green:#27ae60;
    --black:#333;
    --white:#fff;
    --bg-color:#eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid var(--black);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #666666;
}

.text-blue {
    color: #246dec;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height: 100vh;
}


/* ---------- HEADER ---------- */

.header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
    display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}

.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: #9799ab;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar
      on small screens
    */
    z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-title > p {
    font-size: 20px;
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
    border-left: 7px solid #246dec;
}

.card:nth-child(2) {
    border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
    border-left: 7px solid #367952;
}

.card:nth-child(4) {
    border-left: 7px solid #cc3c43;
}

.card > span {
    font-size: 20px;
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > p {
    font-size: 18px;
}

.card-inner > span {
    font-size: 35px;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.charts-card {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border: 1px solid #d2d2d3;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
}


/* ---------- SCROLLBARS ---------- */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
}


/* ---------- MEDIA QUERIES ---------- */


/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
      "header"
      "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }

    html{
        font-size: 55%;
    }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }

    .product-display{
        overflow-y:scroll;
    }

    .product-display .product-display-table{
        width: 80rem;
    }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }

    html{
        font-size: 50%;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even) {*/
/*    background-color: #dddddd;*/
/*}*/

.admin-product-form-container.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.btn{
    display: block;
    width: 25%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 1rem;
    padding:1rem 3rem;
    background: var(--green);
    color:var(--white);
    text-align: center;
}

.btn:hover{
    background: var(--black);
}



.admin-product-form-container.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.admin-product-form-container form{
    /*max-width: rem;*/
    margin:0 auto;
    padding:1rem;
    border-radius: .5rem;
}

.admin-product-form-container form h3{
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 1rem;
    text-align: left;
    font-size: 2rem;
}

.admin-product-form-container form .box{
    width: 60%;
    border-radius: .5rem;
    padding:1.2rem 1.5rem;
    font-size: 1rem;
    margin:1rem 0;
    background: var(--white);
    text-transform: none;
}

.product-display{
    margin:2rem 0;
}

.product-display .product-display-table{
    width: 100%;
    text-align: center;
}

.product-display .product-display-table thead{
    background: var(--bg-color);
}

.product-display .product-display-table th{
    padding:1rem;
    font-size: 1.5rem;
}


.product-display .product-display-table td{
    padding:1rem;
    font-size: 2rem;
    border-bottom: var(--border);
}

.product-display .product-display-table .btn:first-child{
    margin-top: 0;
}

.product-display .product-display-table .btn:last-child{
    background: crimson;
}

.product-display .product-display-table .btn:last-child:hover{
    background: var(--black);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container{
    margin-bottom: 50px
}

.card-order{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.10rem}

.track{
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px}

.track .step{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative}

.track .step.active:before{
    background: #FF5722}

.track .step::before{
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px}

.track .step.active .icon{
    background: #ee5435;
    color: #fff}

.track .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd}

.track .step.active .text{
    font-weight: 400;
    color: #000}

.track .text{
    display: block;
    margin-top: 7px}

.itemside{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%}

.itemside .aside{
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0}

.img-sm{
    width: 80px;
    height: 80px;
    padding: 7px}

ul.row, ul.row-sm{
    list-style: none;
    padding: 0}

.itemside .info{
    padding-left: 15px;
    padding-right: 7px}

.itemside .title{
    display: block;
    margin-bottom: 5px;
    color: #212529}

p{
    margin-top: 0;
    margin-bottom: 1rem}

.btn-warning{
    color: #ffffff;
    background-color: #ee5435;
    border-color: #ee5435;
    border-radius: 1px}

.btn-warning:hover{
    color: #ffffff;
    background-color: #ff2b00;
    border-color: #ff2b00;
    border-radius: 1px}

select {
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
    width: 25%;
}

.section-meals .container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.section-meals .grid {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

.section-meals .grid--3-cols {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.section-meals .margin-right-md {
    margin-bottom: 4.8rem !important;
}

.strong {
    font-weight: 500;
}

/***************************/
/* MEALS SECTION */
/***************************/
.section-meals {
    padding: 1rem 0;
}

.section-meals .container .meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    background-color: white ;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}



.meal-content {
    padding: 1rem 1rem 1rem 1rem;
}


.meal-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 1rem;
}

.meal-descrption{
    font-size: 1rem;
    line-height: 1.2rem;
    color: #333;
    font-weight: 400;
    margin-bottom: 1rem;
}

.meal-attributes {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meal-attribute {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.meal-icon {
    /*height: 1.5rem;*/
    /*width: 1.5rem;*/
    color: #e67e22;
}

.meal-img {
    width: 100%;
    height: 224.15px;
    object-fit: cover;
}

.meals-button{
    display: flex;
    gap: 1rem;
}


.meals-button-delete{
    background: red;
}
