<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Admin Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/admin-dashboard" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-dashboard-create-food">
          <span class="material-icons-outlined">restaurant_menu</span> Foods
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-dashboard-customer" >
          <span class="material-icons-outlined">people</span> Customer
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-order-list" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/admin-dashboard-delivery_person" >
          <span class="material-icons-outlined">takeout_dining</span>Delivery Person
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/login" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="main-title">
      <p class="font-weight-bold">CUSTOMER</p>
    </div>

    <table>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Adress</th>
        <th>Food</th>
        <th>Total Price</th>
        <th>Delivery Person</th>
        <th>Status</th>
      </tr>
      <tr th:each="order: ${listOrder}">
        <td th:text="${order.id}">User ID</td>
        <td th:text="${order.date}">User ID</td>
        <td th:text="${order.name}">First Name</td>
        <td th:text="${order.phonenumber}">Phone Number</td>
        <td th:text="${order.deliveryAddress}">Address</td>
        <td>
          <table>
            <tr th:each="orderItem: ${order.orderItems}">
              <td th:text="${orderItem.food.name}"></td>
              <td th:text="'qty: '+ ${orderItem.quantity}"></td>
            </tr>
          </table>
        </td>
        <td th:text="${order.totalPrice}"></td>
        <td>
          <form action="/updatedeliveryperson" method="post">
            <input type="hidden" th:value="${order.id}"
                   name="order_id" />
            <select name="DeliveryId" id="lang">
              <option th:if="${order.deliveryPerson == null}">Null</option>
              <option th:unless="${order.deliveryPerson == null}" th:value="${order.deliveryPerson.id}" th:text="${order.deliveryPerson.name}"></option>
              <div th:each="delivery: ${listName}">
                <option th:value="${delivery.id}" th:text="${delivery.name}" ></option>
              </div>

            </select>
            <input type="submit" value="Update" />
          </form>
        </td>
        <td>
          <form action="/updatestatus" method="post">
            <input type="hidden" th:value="${order.id}"
                   name="order_id" />
          <select name="status" id="lang">
            <option th:value="${order.status}" th:text="${order.status}"></option>
            <option value="Cooked">Cooked</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
          </select>
            <input type="submit" value="Update" />
          </form>
        </td>
      </tr>
    </table>
  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>