<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Admin Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>


    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-create-food" >
          <span class="material-icons-outlined">restaurant_menu</span> Foods
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-customer">
          <span class="material-icons-outlined">people</span> Customer
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/admin/admin-order-list" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-delivery_person" >
          <span class="material-icons-outlined">takeout_dining</span>Delivery Person
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/logout" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>

    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="admin-product-form-container">

      <form  th:action="@{/admin/adddeliveryperson}" th:object="${user}" method="post" >
        <h3>add a new delivery person</h3>
        <input type="text" placeholder="enter user name" name="username" class="box" th:field="*{username}" required>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"> </div>
        <input type="text" placeholder="enter name" name="name" class="box" th:field="*{name}" required>
        <input type="number" placeholder="enter phone number" name="phonenumber" class="box" th:field="*{phonenumber}" required>
        <input type="password" placeholder="Password" class="box" th:field="*{password}" required  >
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"> </div>
        <input type="password" placeholder="Re-enter Password" class="box" th:field="*{Repassword}" required >
        <div th:if="${#fields.hasErrors('Repassword')}" th:errors="*{Repassword}" class="invalid-feedback"> </div>
        <input type="submit" class="btn" name="add_product" value="Create">
      </form>

    </div>
  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>