<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Cart Empty</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>

<header>
  <a href="/home" class="logo"> <img src="image/logo-2.png" alt="" width="100%" > </a>

  <div class="icons">
    <i class="fa fa-bars" id="menu-bars"></i>
    <a href="/home" class="fa fa-home" id="home-icon"></a>

  </div>

</header>
<section class="order no-permission" id="order">
  <h3 class="sub-heading">Your cart is empty</h3>
  <h1 class="heading">Please add food to cart</h1>

</section>



</body>
</html>