<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>

<header>
  <a href="#" class="logo"><i class="fas fa-untensils"></i>bistro. </a>

  <div class="icons">
    <i class="fa fa-bars" id="menu-bars"></i>
    <a href="/home" class="fa fa-home" id="home-icon"></a>
    <a href="/profile" class="fa-solid fa-user"></a>
    <a href="/login" class="fa fa-sign-out"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
    <span class='badge badge-warning' id='lblCartCount' th:text="${Cart.getCartItems().size()}"> </span>

  </div>

</header>
<section class="order" id="order">
  <h1 class="heading">Change Password</h1>
  <form action="#" th:action="@{/changepassimpl}" th:object="${pass}" method="post">


    <div class="inputBox">
      <div class="input">
        <span>current pass</span>
        <input type="password"   th:field="*{currentPass}">
        <div th:if="${#fields.hasErrors('currentPass')}" th:errors="*{currentPass}" class="invalid-feedback"> </div>
      </div>


      <div class="input">
        <span>new pass</span>
        <input type="password"  th:field="*{newPass}">
      </div>
    </div>

    <div class="inputBox">
      <div class="input">
        <span>re-enter pass</span>
        <input type="password"  th:field="*{rePass}">
        <div th:if="${#fields.hasErrors('rePass')}" th:errors="*{rePass}" class="invalid-feedback"> </div>
      </div>
    </div>


    <input type="submit" value="Change" class="btn">

  </form>

</section>



</body>
</html>