<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Check Out</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/checkout-style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>

<header>
  <a href="/home" class="logo"> <img src="image/logo-2.png" alt="" width="100%" > </a>

  <div class="icons">
    <i class="fa fa-bars" id="menu-bars"></i>
    <a href="/home" class="fa fa-home" id="home-icon"></a>
    <a href="/profile" class="fa-solid fa-user"></a>
    <a href="/login" class="fa fa-sign-out"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
    <span class='badge badge-warning' id='lblCartCount' th:text="${Cart.getCartItems().size()}"> </span>

  </div>

</header>
<section class="order" id="order">
  <h1 class="heading">check out</h1>
  <div class="card">

    <div class="row">

      <div class="col-md-8 cart">

        <div class="title">
          <div class="row">
            <div class="col"><h4><b>Order List</b></h4></div>
            <div class="col align-self-center text-right text-muted"  th:text="${Cart.getCartItems().size()} + ' items'"></div>
          </div>
        </div>

        <div class="row border-top border-bottom" th:each="cartItem: ${Cart.cartItems}">
          <div class="row main align-items-center">
            <div class="col-2"><img class="img-fluid" th:src="@{${cartItem.food.imageUrl}}"></div>
            <div class="col">
              <div class="row text-muted" th:text="${cartItem.food.category}"></div>
              <div class="row" th:text="${cartItem.food.name}"></div>
            </div>
            <div class="col">
              <form action="/updateShoppingCart" method="post">
                <input type="hidden" th:value="${cartItem.id}"
                       name="item_id" />
                <div class="input-group">
                  <input type="number" name="quantity"
                         th:value="${cartItem.quantity}"
                         min="1"
                         class="quantity-input" />
                  <button class="btn-quantity"
                          type="submit">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </form>
            </div>
            <div class="col" th:text="'$' + ${cartItem.totalPrice}"> <span class="close">x</span></div>
            <a th:href="@{/removeItem/{id}(id = ${cartItem.id})}" class="col close">&#10005;</a>
          </div>
        </div>

<!--        <div class="row">-->
<!--          <div class="row main align-items-center">-->
<!--            <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>-->
<!--            <div class="col">-->
<!--              <div class="row text-muted">Shirt</div>-->
<!--              <div class="row">Cotton T-shirt</div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>-->
<!--            </div>-->
<!--            <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="row border-top border-bottom">-->
<!--          <div class="row main align-items-center">-->
<!--            <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/pHQ3xT3.jpg"></div>-->
<!--            <div class="col">-->
<!--              <div class="row text-muted">Shirt</div>-->
<!--              <div class="row">Cotton T-shirt</div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>-->
<!--            </div>-->
<!--            <div class="col">&euro; 44.00 <span class="close">&#10005;</span></div>-->
<!--          </div>-->
<!--        </div>-->

        <div class="back-to-shop"><a href="/home">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
      </div>
      <div class="col-md-4 summary">
        <div><h4><b>Summary</b></h4></div>
        <hr>
        <div class="row">
          <div class="col" th:text=" 'ITEMS '+ ${Cart.getCartItems().size()}"></div>
          <div class="col text-right" th:text="'$' + ${Cart.getTotalPrice()}"></div>
        </div>
        <form>
          <p>SHIPPING</p>
          <select><option class="text-muted">Standard-Delivery- $2.00</option></select>
          <p>GIVE CODE</p>
          <input id="code" placeholder="Enter your code">
        </form>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right" th:with="variable = 2, controllerVar = ${Cart.getTotalPrice()}, var = ${variable + controllerVar}" th:text="'$' + ${var}" ></div>
        </div>
        <a href="/check-out-infor" class="btn">CHECKOUT</a>
      </div>
    </div>

  </div>



</section>



</body>
</html>