<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="/image/favicon.ico">


  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Admin Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-create-food">
          <span class="material-icons-outlined">restaurant_menu</span> Foods
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-customer" >
          <span class="material-icons-outlined">people</span> Customer
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin/admin-order-list" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/admin/admin-dashboard-delivery_person" >
          <span class="material-icons-outlined">takeout_dining</span>Delivery Person
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/logout" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="admin-product-form-container">

      <form  th:action="@{/admin/create-food}" th:object="${food}" method="post"  enctype="multipart/form-data">
        <h3>add a new food</h3>
        <input type="text" placeholder="enter food name" name="product_name" class="box" th:field="*{name}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"> </div>
        <input type="number" step="0.01" placeholder="enter food price" name="product_price" class="box" th:field="*{price}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"> </div>
        <input type="text" placeholder="enter food category" name="product_category" class="box" th:field="*{category}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="invalid-feedback"> </div>
        <input type="text" placeholder="enter food description" name="product_category" class="box" th:field="*{description}" th:errorClass="is-invalid">
        <input type="file" accept="image/png, image/jpeg, image/jpg" name="image" class="box">
        <input type="submit" class="btn" name="add_product" value="add product">
      </form>

    </div>
<!--    <div class="product-display">-->
<!--      <table class="product-display-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>Food image</th>-->
<!--          <th>Food name</th>-->
<!--          <th>Food price</th>-->
<!--          <th>Food category</th>-->
<!--          <th>Food description</th>-->
<!--          <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tr th:each="food: ${listFoods}">-->
<!--          <td><img th:src="@{${food.photosImagePath}}" height="100" alt=""></td>-->
<!--          <td th:text="${food.name}"></td>-->
<!--          <td th:text="${food.price}"></td>-->
<!--          <td th:text="${food.category}"></td>-->
<!--          <td th:text="${food.description}"></td>-->
<!--          <td>-->
<!--            <a th:href="@{'/edit-food/' + ${food.id}}" class="btn"> <i class="fas fa-edit"></i> edit </a>-->
<!--            <a th:href="@{'/delete/' + ${food.id}}" class="btn"> <i class="fas fa-trash"></i> delete </a>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->

    <section class="section-meals" style="">
      <form action="/admin/admin-dashboard-create-food" method="get" class="search" style="padding: 15px">
        <input type="text" name="keyword" id="keyword" th:value="${keyword}" size="15" style="" required>
        <a class="fa fa-search search-btn" style="" id="search-icon" onclick="this.parentNode.submit()">Search</a>
      </form>
        <div class="container grid grid--3-cols margin-right-md">
        <div class="meal" th:each="food: ${listFoods}">
          <img
                  th:src="@{${food.imageUrl}}"
                  class="meal-img"
                  th:alt="${food.name}"
          />
          <div class="meal-content">
            <div class="meal-tags">
              <span class="tag"  th:text="${food.category}" >Vegetarian</span>
            </div>
            <p class="meal-title"  th:text="${food.name}">Japanese Gyozas</p>
            <p class="meal-descrption"  th:text="${food.description}">Lorem Ipsum Dolor Sit Amet. Et Internos Laboriosam Ut Enim Optio Sit Voluptatem Aspernatur Est Beatae Consequatur Ea Quam Fugit Eos Illum Dolorem Aut Beatae Animi.</p>
            <ul class="meal-attributes">
              <li class="meal-attribute">
                <span  class="material-icons-outlined meal-icon">payments</span><span><strong th:text="${food.price}"></strong> $</span>
              </li>
              <li class="meal-attribute" th:if="${!food.getRatingList().isEmpty()}">
                <span class="material-icons-outlined meal-icon">star</span><span><strong th:text="${food.getQualityRating()}">4.9</strong> Quality </span><span><strong th:text="${food.getServiceRating()}">4.9</strong> Packaged </span><span><strong th:text="${food.getPriceRating()}">4.9</strong> Price </span>
              </li>
            </ul>
            <div class="meals-button" style="display: flex">
              <a th:href="@{'/admin/edit-food/' + ${food.id}}" class="btn"> <i class="fas fa-edit"></i> Edit </a>
              <a th:href="@{'/admin/delete/' + ${food.id}}" class="btn meals-button-delete"> <i class="fas fa-trash"></i> Delete </a>
            </div>
            <div class="meals-button" style="display: flex">
              <button  th:if="${food.available == true}" class="btn meals-button-available">  Available </button>
              <button  th:if="${food.available == false}" class="btn meals-button-not-available">  Not Available </button>
            </div>
          </div>
        </div>


      </div>
    </section>


  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>