<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Delivery Person Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Delivery Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/delivery-dashboard" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="#" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/login" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>

    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="container" th:each="order: ${listOrder}">
      <article class="card-order">
        <div class="card-body">
          <h6>Order ID: <span th:text="${order.id}"></span></h6>
          <article class="card-order">
            <div class="card-body row">
              <div class="col"> <strong>Date:</strong> <br><span th:text="${order.date}"></span> </div>
              <div class="col"> <strong>Customer Name:</strong> <br> <span th:text="${order.name}">customer name</span> </div>
              <div class="col"> <strong>Phone Number: </strong> <br> <span th:text="${order.phonenumber}"></span> </div>
              <div class="col"> <strong>Address</strong> <br> <span th:text="${order.deliveryAddress}"></span>	 </div>
            </div>
          </article>
          <div class="track">
            <div th:class="${order.status == order.status.Confirmed || order.status == order.status.Cooked || order.status == order.status.Shipped|| order.status == order.status.Delivered} ? 'step active' : 'step'" > <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
            <div th:class="${order.status == order.status.Cooked || order.status == order.status.Shipped|| order.status == order.status.Delivered} ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text">Cooked</span> </div>
            <div th:class="${order.status == order.status.Shipped || order.status == order.status.Delivered} ? 'step active' : 'step' " > <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped </span> </div>
            <div th:class="${order.status == order.status.Delivered} ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
          </div>
          <hr>
          <ul class="row">
            <th:block th:each="orderItem: ${order.orderItems}">

              <li class="col-md-4">
                <figure class="itemside mb-3">
                  <div class="aside"><img th:src="${orderItem.food.photosImagePath}" class="img-sm border"></div>
                  <figcaption class="info align-self-center">
                    <p class="title" th:text="${orderItem.food.name}"> </p> <span class="text-muted">Quality: <span th:text="${orderItem.quantity}"></span> </span>
                  </figcaption>
                </figure>
              </li>

            </th:block>
          </ul>


          <div class="row">
            <p><strong>Total price: $</strong><span th:text="${order.totalPrice}"></span></p>
          </div>

          <hr>

          <div class="row" >

            <div  th:if="${order.status == order.status.Shipped}">
              <input type="text" th:id="'lat' + ${order.id}" th:value="${order.lat}"   style="display: none" >
              <input type="text" th:id="'lon' + ${order.id}" th:value="${order.lon}"   style="display: none">
              <input onclick="getDirection(this.id)" th:id="${order.id}" class="btn btn-warning directBtn" type="button" value="Get Direction" />
            </div>

            <form action="/update-delivery-status" method="post" th:if="${order.status == order.status.Shipped}">
              <input type="hidden" th:value="${order.id}"
                     name="order_id" />
              <input type="hidden" th:value="Delivered"
                     name="status" />
              <input type="submit" value="Delivered"  class="btn btn-warning" />
            </form>
          </div>
        </div>
      </article>
    </div>
  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
<script>
  //Get direction
  function getDirection(id){
    const x = document.getElementById("lat" + id).value;
    const z = document.getElementById("lon" + id).value;
    if(Object.is(x, "") || Object.is(z, "") ) {
      alert("Cannot get direction");
      return;
    }

    var url = "https://www.google.com/maps?saddr=My+Location&daddr=" + x + "," + z;
    console.log(url);
    window.open(url, '_blank');
  }


</script>
</body>
</html>