<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Delivery Person Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Delivery Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="#" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/delivery-dashboard-order" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/login" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>

    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="main-title">
      <p class="font-weight-bold">DASHBOARD</p>
    </div>

    <div class="main-cards">

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">SALARY</p>

          <span class="material-icons-outlined text-blue">
payments</span>

        </div>
        <span class="text-primary font-weight-bold" th:text="${scount}"></span>
      </div>


      <div class="card">
        <div class="card-inner">
          <p class="text-primary">ORDERS</p>
          <span class="material-icons-outlined text-green">shopping_cart</span>
        </div>
        <span class="text-primary font-weight-bold" th:text="${ocount}"></span>
      </div>

      <div class="card">
        <div class="card-inner">
          <p class="text-primary">RATING</p>
          <span class="material-icons-outlined text-green">star</span>
        </div>
        <span class="text-primary font-weight-bold" th:text="${rcount}"></span>
      </div>

    </div>
  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>