<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<div class="grid-container">

  <!-- Header -->
  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="header-left">
      <span class="material-icons-outlined">search</span>
    </div>
    <div class="header-right">
      <span class="material-icons-outlined">notifications</span>
      <span class="material-icons-outlined">email</span>
      <span class="material-icons-outlined">account_circle</span>
    </div>
  </header>
  <!-- End Header -->

  <!-- Sidebar -->
  <aside id="sidebar">
    <div class="sidebar-title">
      <div class="sidebar-brand">
        <span class="material-icons-outlined">inventory</span>Admin Dashboard
      </div>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <a href="/admin-dashboard" >
          <span class="material-icons-outlined">dashboard</span> Dashboard
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-dashboard-create-food">
          <span class="material-icons-outlined">restaurant_menu</span> Foods
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-dashboard-customer" >
          <span class="material-icons-outlined">people</span> Customer
        </a>
      </li>
      <li class="sidebar-list-item">
        <a href="/admin-order-list" >
          <span class="material-icons-outlined">shopping_cart</span> Orders
        </a>
      </li>

      <li class="sidebar-list-item">
        <a href="/login" >
          <span class="material-icons-outlined">logout</span> Log Out
        </a>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar -->

  <!-- Main -->
  <main class="main-container">
    <div class="admin-product-form-container">

      <form  th:action="@{/editfood}" th:object="${food}" method="post"  enctype="multipart/form-data">
        <h3>Edit Food</h3>
        <input type="text" placeholder="Food id" name="product_name" class="box" th:field="*{id}" th:value="${food.id}" readonly>
        <input type="text" placeholder="enter food name" name="product_name" class="box" th:field="*{name}" th:value="${food.name}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"> </div>
        <input type="number" placeholder="enter food price" name="product_price" class="box" th:field="*{price}" th:value="${food.price}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="invalid-feedback"> </div>
        <input type="text" placeholder="enter food category" name="product_category" class="box" th:field="*{category}" th:value="${food.category}" th:errorClass="is-invalid">
        <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="invalid-feedback"> </div>
        <input type="text" placeholder="enter food description" name="product_category" class="box" th:field="*{description}" th:value="${food.description}" th:errorClass="is-invalid">
        <input type="submit" class="btn"  value="edit product">
      </form>

    </div>
  </main>
  <!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
<!-- Custom JS -->
<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>