<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
  <div class="wrapper">
    <h1>Login</h1>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
      <p style="font-size: 16px; text-align: center; color: red" th:text="${ERROR}"></p>
      <input type="text" placeholder="Username" th:field="*{username}" required >
      <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"> </div>
      <input type="password" placeholder="Password" th:field="*{password}"  required >
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"> </div>
      <div class="recover">
      <a href="#">Forgot Password?</a>
       </div>
      <button class="btn" type="submit">Log In</button>
    </form>

    <div class="member">
    Not a member? <a href="/signup" > Register Now</a>
  </div>

  </div>

</body>
</html>