<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>No Permission</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>

<header>
  <a href="#" class="logo"><i class="fas fa-untensils"></i>bistro. </a>

  <div class="icons">
    <i class="fa fa-bars" id="menu-bars"></i>
    <a href="/home" class="fa fa-home" id="home-icon"></a>

  </div>

</header>
<section class="order no-permission" id="order">
  <h3 class="sub-heading">You have no permission</h3>
  <h1 class="heading">Please log in as admin</h1>

</section>



</body>
</html>