<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Order List</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/orderlist-style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>

<header>
  <a href="/customer/home" class="logo"> <img src="image/logo-2.png" alt="" width="100%" > </a>

  <div class="icons">
    <i class="fa fa-bars" id="menu-bars"></i>
    <a href="/customer/home" class="fa fa-home" id="home-icon"></a>
    <a href="/customer/profile" class="fa-solid fa-user"></a>
    <a href="/logout" class="fa fa-sign-out"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
    <span class='badge badge-warning' id='lblCartCount'>0</span>

  </div>

</header>
<section class="order" id="order">
  <h1 class="heading">Order list</h1>

  <div class="container py-5 h-100" th:each="order: ${user.orders}">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <div class="card card-stepper" style="border-radius: 16px;">
          <div class="card-header p-4">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body" th:text="${order.id}"></span></p>
                <p class="text-muted mb-0"> Place On <span class="fw-bold text-body" th:text="${order.date}"></span> </p>
              </div>
            </div>
          </div>
          <div class="card-body p-4">

            <div class="d-flex flex-row mb-4 pb-2" th:each="orderItem: ${order.orderItems}">
              <div class="flex-fill">
                <h5 class="bold" th:text="${orderItem.food.name}"></h5>
                <p class="text-muted" th:text="'Qt '+ ${orderItem.quantity}"></p>
              </div>
              <div>
                <img class="align-self-center img-fluid"
                     th:src="${orderItem.food.imageUrl}" width="150">
              </div>
            </div>

            <div style="display: flex">
              <h4 class="mb-3" th:text="'$' + ${order.totalPrice} + ' '"> </h4>
              <h4><span class="small text-muted"> via (COD) </span></h4>
            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <ul id="progressbar" class="text-center">
                  <li th:class="${order.status == order.status.Confirmed || order.status == order.status.Prepared || order.status == order.status.Shipped|| order.status == order.status.Delivered} ? 'step0 active' : 'step0'">
                    <span>CONFIRMED</span>
                  </li>
                  <li th:class="${order.status == order.status.Prepared || order.status == order.status.Shipped|| order.status == order.status.Delivered} ? 'step0 active' : 'step0'" >
                    <span>PREPARED</span>
                  </li>
                  <li th:class="${order.status == order.status.Shipped || order.status == order.status.Delivered} ? 'step0 active' : 'step0' " >
                    <span>SHIPPED</span>
                  </li>
                  <li th:class="${order.status == order.status.Delivered} ? 'step0 active' : 'step0'" >
                    <span>DELIVERED</span>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="card-footer p-4">
            <div class="d-flex justify-content-between">
              <div th:if="${order.status == order.status.Delivered}">
                <h3>Are you satisfied with the delivery quality of this order?</h3>
                <form action="/customer/delivery-rating" method="post">
                  <input type="hidden" name="id" th:value="${order.id}">
                  <div class="rate">
                    <input type="radio" th:id="star5order + ${order.id}" name="rate" value="5" th:checked="${order.deliveryRating == 5}" />
                    <label th:for="star5order + ${order.id}" ></label>
                    <input type="radio" th:id="star4order + ${order.id}" name="rate" value="4" th:checked="${order.deliveryRating == 4}" />
                    <label th:for="star4order + ${order.id}" ></label>
                    <input type="radio" th:id="star3order + ${order.id}" name="rate" value="3" th:checked="${order.deliveryRating == 3}"  />
                    <label th:for="star3order + ${order.id}" ></label>
                    <input type="radio" th:id="star2order + ${order.id}" name="rate" value="2"  th:checked="${order.deliveryRating == 2}" />
                    <label th:for="star2order + ${order.id}" ></label>
                    <input type="radio" th:id="star1order + ${order.id}" name="rate" value="1" th:checked="${order.deliveryRating == 1}"  />
                    <label th:for="star1order + ${order.id}"></label>
                  </div>
                  <input type="submit" class="btn-track" value="submit">
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



</section>



</body>
</html>