<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<div class="wrapper">
    <h1>Reset Password</h1>
    <form action="#" th:action="@{/forgotPassword}"  method="post">

        <input type="email" placeholder="Your email address" name="email"  required>

        <p style="color: red" th:text="${ERROR}"></p>

        <button class="btn" type="submit">Reset Password</button>
    </form>
    <div class="member">
        Already a member? <a href="/login" > Login Here</a>
    </div>


</div>

</body>
</html>