<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<div class="wrapper">
  <h1>Sign Up</h1>
  <form action="#" th:action="@{/signup}" th:object="${USER}" method="post">

    <input type="text" placeholder="Username" name="username"  required>

    <input type="text" placeholder="Name" name="name"  required>

    <input type="email" placeholder="email" name="email"  required>

    <input type="password" placeholder="Password" name="password" required>

    <input type="password" placeholder="Re-enter Password" name="repassword"  required>
    <input type="hidden" name="role" value="customer">
    <input type="hidden" name="isConfirm" value="false">
    <input type="hidden" name="verificationCode" value=" ">
    <p style="color: red" th:text="${ERROR}"></p>

    <button class="btn" type="submit">Sign Up</button>
  </form>
  <div class="member">
    Already a member? <a href="/login" > Login Here</a>
  </div>


</div>

</body>
</html>